*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

#siteTitle {
    padding: 20px 0;
    font-weight: 900;
    margin: 0 10%;
}

/* ============ navbar ============= */

#navBtns, #coinSearch {
    /* border: 2px solid black; */
    width: fit-content;
    margin-left: 14%;
}

#coinSearch > input {
    width: 180px;
}

/* ============== show coins =============== */

.main-container {
    /* border: 2px solid black; */
    width: 100%;
}

.cards-container {
    /* border: 2px solid red; */
    margin-left: 10%;
    margin-top: 5%;
    width: 80%;
    font-size: 14pt;
}

.coinCard { 
    width: 30%;
    padding: 10px;
}

#coinName, #coinSymbol, #coinToggle {
    /* border: 3px solid red; */
    height: 50px;
    padding: 2px;
}

.mySwitch {
    /* border: 3px solid red; */
    position: relative;
    width: 10px;
    left: 75%;
}

/*sets the background color of switch to yellow when it is checked*/ 
.custom-control-input:checked ~ .custom-control-label::before { 
    border-color:#f0ad4e !important; 
    background-color:#f0ad4e  !important; 
} 
  
/*sets the background color of switch to yellow when it is active*/ 
.custom-control-input:active ~ .custom-control-label::before { 
    background-color:#f0ad4e !important; 
    border-color:#f0ad4e !important; 
} 
        
/* ===============  collapse ============== */

.moreInfoBtn {
    /* border: 3px solid red; */
    margin-top: 10px;
}

.moreInfo {
    letter-spacing: 2px;
}

.coinPic {
    width: 50px;
    height: 50px;
}

/* ================= ABOUT ================ */

.aboutMeHead, .aboutProHead {  
    margin-top: 10px;
    font-weight: 800;
    letter-spacing: 1px;
}

.aboutMePar, .aboutProPar {
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 200%;
    text-align: justify;
}

#myPic {
    width: 100px;
}

/* ============== footer ============= */
footer {
    /* border: 2px solid blue; */
    width: 100%;
    margin: 2% 10%;
}

#copyrights {
    letter-spacing: 2px;
    margin: 5px;
}

