*{
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

.container-fluid {
    background-image: url(Assets/images/wallpaper8.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
}

#siteTitle {
    color: white;
    padding: 20px 0;
    font-weight: 900;
    font-size: 50pt;
    margin: 0 5%;
    text-shadow: 3px 3px 3px black;
}


/* ============ navbar ============= */

#navBtns, #coinSearch {
    /* border: 2px solid black; */
    width: fit-content;  
    margin-left: 15%; 
}


#coinSearch > input {
    width: 180px;
    font-size: 14pt;
}

/* ============== show coins =============== */

.main-container {
    /* border: 2px solid black; */
    max-width: 100%;
}

.cards-container {
    /* border: 2px solid red; */
    margin-left: 5%;
    margin-top: 5%;
    width: 90%;
    font-size: 14pt;
    min-height: 500px;
}

.card-title {
    font-size: 16pt;
    font-weight: bold;
}

.coinCard { 
    /* border: 3px solid red; */
    padding: 5px;
    margin: 0 0 3px 3px;
    height: fit-content;
    opacity: 0.9;
}

.coinCard:hover {
    opacity: 1;
}

#coinName, #coinSymbol, #coinToggle {
    /* border: 3px solid red; */
    height: 80px;
    padding: 2px;
}

.mySwitch {
    /* border: 3px solid red; */
    position: relative;
    width: fit-content;
    left: 60%;
}

/*sets the background color of switch to yellow when it is checked*/ 
.custom-control-input:checked ~ .custom-control-label::before { 
    border-color:#f0ad4e !important; 
    background-color:#f0ad4e  !important; 
} 
  
/*sets the background color of switch to yellow when it is active*/ 
.custom-control-input:active ~ .custom-control-label::before { 
    background-color:#f0ad4e !important; 
    border-color:#f0ad4e !important; 
} 
        
/* ===============  collapse ============== */

.moreInfoBtn {
    /* border: 3px solid red; */
    margin-top: 10px;
}

.moreInfo {
    letter-spacing: 2px;
}

.coinPic {
    width: 50px;
    height: 50px;
}

/* ================= ABOUT ================ */

.aboutMeHead, .aboutProHead {  
    background-color: white;
    width: fit-content;
    margin-top: 10px;
    font-weight: 800;
    letter-spacing: 1px;
    opacity: 0.9;
}

.aboutMePar, .aboutProPar {
    background-color: white;
    margin-top: 10px;
    font-weight: 600;
    letter-spacing: 2px;
    line-height: 200%;
    text-align: justify;
    opacity: 0.9;
}

.cards-container>div>p:hover {
    opacity: 1;
}

#myPic {
    width: 100px;
    opacity: 0.9;
}

/* ============== footer ============= */
footer {
    /* border: 2px solid blue; */
    width: 100%;
    margin: 0 6%;
}

#copyrights {
    color: white;
    width: fit-content;
    letter-spacing: 2px;
    margin: 5px;
}

